{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">Suas Redes Sociais</h2>
        <p>Conecte suas redes sociais para que possamos conhecer melhor seus interesses em esports.</p>
        
        <form method="POST">
            <div class="mb-3">
                <label for="twitter" class="form-label">Twitter (X)</label>
                <input type="url" class="form-control" id="twitter" name="twitter" placeholder="https://twitter.com/seuuser">
            </div>
            
            <div class="mb-3">
                <label for="facebook" class="form-label">Facebook</label>
                <input type="url" class="form-control" id="facebook" name="facebook" placeholder="https://facebook.com/seuuser">
            </div>
            
            <div class="mb-3">
                <label for="instagram" class="form-label">Instagram</label>
                <input type="url" class="form-control" id="instagram" name="instagram" placeholder="https://instagram.com/seuuser">
            </div>
            
            <div class="mb-3">
                <label for="twitch" class="form-label">Twitch</label>
                <input type="url" class="form-control" id="twitch" name="twitch" placeholder="https://twitch.tv/seuuser">
            </div>
            
            <button type="submit" class="btn btn-primary">Continuar</button>
        </form>
    </div>
</div>
{% endblock %}